In [1]:
import sqlite3
import pandas as pd

In [2]:
conn=sqlite3.connect('sqlite_db_pythonsqlite.db')

In [3]:
cur = conn.cursor()

Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

In [4]:
query10 = """
SELECT name, 
SUM(CASE WHEN Bookings.memid = 0 THEN guestcost ELSE membercost END) - monthlymaintenance AS revenue
FROM ((Bookings
INNER JOIN Facilities ON Bookings.facid = Facilities.facid)
INNER JOIN Members ON Bookings.memid = Members.memid)
GROUP BY name
HAVING revenue < 1000
"""

In [5]:
cur.execute(query10)
rows = cur.fetchall()
for i in rows: print(i)

('Badminton Court', 554.5)
('Pool Table', 250)
('Snooker Table', 100)
('Table Tennis', 80)

Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [11]:
query11 = """
SELECT m1.surname ||", "|| m1.firstname AS member,  
(CASE WHEN m2.surname = "GUEST" THEN NULL ELSE m2.surname END) AS recsur, 
(CASE WHEN m2.firstname = "GUEST" THEN NULL ELSE m2.firstname END) AS recfirst
FROM Members AS m1
LEFT JOIN Members AS m2 ON m1.recommendedby = m2.memid
ORDER BY recsur,recfirst
"""

In [12]:
cur.execute(query11)
rows = cur.fetchall()
for i in rows: print(i)

('GUEST, GUEST', None, None)
('Smith, Darren', None, None)
('Smith, Tracy', None, None)
('Rownam, Tim', None, None)
('Tracy, Burton', None, None)
('Farrell, Jemima', None, None)
('Farrell, David', None, None)
('Tupperware, Hyacinth', None, None)
('Smith, Darren', None, None)
('Sarwin, Ramnaresh', 'Bader', 'Florence')
('Coplin, Joan', 'Baker', 'Timothy')
('Genting, Matthew', 'Butters', 'Gerald')
('Baker, Timothy', 'Farrell', 'Jemima')
('Pinker, David', 'Farrell', 'Jemima')
('Rumney, Henrietta', 'Genting', 'Matthew')
('Jones, Douglas', 'Jones', 'David')
('Dare, Nancy', 'Joplette', 'Janice')
('Jones, David', 'Joplette', 'Janice')
('Hunt, John', 'Purview', 'Millicent')
('Boothe, Tim', 'Rownam', 'Tim')
('Joplette, Janice', 'Smith', 'Darren')
('Butters, Gerald', 'Smith', 'Darren')
('Owen, Charles', 'Smith', 'Darren')
('Smith, Jack', 'Smith', 'Darren')
('Mackenzie, Anna', 'Smith', 'Darren')
('Worthington-Smyth, Henry', 'Smith', 'Tracy')
('Purview, Millicent', 'Smith', 'Tracy')
('Crumpet, Erica', 'Smith', 'Tracy')
('Baker, Anne', 'Stibbons', 'Ponder')
('Bader, Florence', 'Stibbons', 'Ponder')
('Stibbons, Ponder', 'Tracy', 'Burton')

Q12: Find the facilities with their usage by member, but not guests

In [ ]:
query12 = """
SELECT bookid, name, surname, firstname
FROM Bookings
INNER JOIN Facilities on Bookings.facid = Facilities.facid
INNER JOIN Members ON Bookings.memid = Members.memid
WHERE Members.memid != 0
"""

Q13: Find the facilities usage by month, but not guests

In [ ]:
query12 = """
SELECT EXTRACT(MONTH FROM starttime) as month, bookid, name, surname, firstname
FROM Bookings
INNER JOIN Facilities on Bookings.facid = Facilities.facid
INNER JOIN Members ON Bookings.memid = Members.memid
WHERE Members.memid != 0
GROUP BY month, name, bookid
"""

In [92]:
conn.close()